
/* Colors:
green: 4cf3ad
purple: b6bef5
pink (bold): rgb(236, 142, 173)
blue (links):  74b7ee
text white: e4e9ee
body background: 232933
*/

h1{
  color: #e4eaf3;
  font-size: 2em;
  /* font-family: "Source Code Pro"; */
}

h2{
  color: #4cf3ad;
  font-size: 1.5em;
}

h3{
  color: #b6bef5;
  font-size: 1.25em;
}

h4{
  color: #e2d4f8af;
  font-size: 1.05em;
}

h5{
  color: #b6bef5;
}


/* CAMBRIA MATH IS GOOD FOR EXPORT  .. not for reading previews in vs code
I LIKE BAHNSCHRIFT FOR READING
FIRA CODE FOR CODING TYPE FONT
*/
body {
  /* font-family: "Source Code Pro"; */
  /* font-family: "Bahnschrift"; */
  font-family: "Lucida Sans Unicode"; 
   /* font-family: "Cambria Math";   */
   /* font-Family: "Georgia", */
  /* font-weight: 300; */ 

  color: #e4e9ee;
  background-color: #232933;  
}

/* bold text */
strong {
  color: rgb(236, 142, 173);
}

/* links */
a {
  color: #74b7ee;
}

/* styling code blocks */
code{
  font-family: "Source Code Pro";
  /* font-family: "Roboto Mono"; */
  /* color: #f3f0f0;
  background-color: rgb(58, 57, 57); */
}